{% extends 'base.html' %}

{% block title %}My Sticky Notes -  {{ page_title }}{% endblock %}

{% block content %}
    <h2> {{ page_title }}</h2>
    <ul>
        {% for note in notes %}
        <li>
            <a href="{% url 'note_detail'  pk=note.pk %}"> {{ note.title }}</a>
            <p>{{ note.content }}</p>
        </li>
        {% endfor %}
    </ul>

    {% if request.user.is_authenticated %}
    <a class="back-button" href="{% url 'logout' %}">Logout</a>
    {% endif %}

{% endblock %}